/* RESET DASAR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.content-wrapper {
    flex-grow: 1;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.blue-container {
    background-color: #96d1fc;
    padding: 30px;
    border-radius: 25px;
    width: 100%;
    max-width: 950px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}


/* tabel kelola */

.tambah{
    display: inline-block;
    padding: 10px 15px;
    background-color: #0080ff;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    transition: .3s;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.6);
    margin-left: 720px;
}
.tabel-container {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    overflow-x: auto; /* Aktifkan geser samping */
    gap: 15px;
    scrollbar-width: none; /* Sembunyikan scrollbar Firefox */
    -ms-overflow-style: none; /* Sembunyikan scrollbar IE/Edge */
}

.tabel-container::-webkit-scrollbar {
    display: none; /* Sembunyikan scrollbar Chrome/Safari */
}
.tabel-buku{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}